h2 {
    background-image: -webkit-linear-gradient(#fbe6a5 50%, #fe444a 50%);
    background-size: 100% 10px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: stripes 2s linear infinite;
    animation: stripes 5s linear infinite;
  }
  @-webkit-keyframes stripes {
    100% {
      background-position: 0 -30px;
    }
  }
  @keyframes stripes {
    100% {
      background-position: 0 -30px;
    }
  }